/* Tuấn Kiệt  */

/* start header  */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
html {
  font-family: 'Jost', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */
/* end header  */

/* start about us  */
a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;

  color: var(--font-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
}
a.read:hover {
  color: #189a46;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;

  color: var(--font-color);
  font-family: 'Jost', sans-serif;
}
.about_title h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}
.about_title h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.about_content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

/* end about us  */

/* start feature  */
.feature {
  background-color: var(--bg-light);
}
.feature_box {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
}
.area-box:hover {
  border-radius: var(--border-radius);
}
.icon span.fa {
  color: #189a46;
  font-size: 30px;
}
.area-box:hover {
  background: var(--bg-light);
}
.area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--font-color);
}
.area-box h4 a:hover {
  color: #189a46;
  text-decoration: none;
}
/* end features */

/* start testimonials  */

#feedback {
  background: rgb(147 107 232 / 5%);
  padding: 100px 0 50px 0;
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}
.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

#feedback .feedback__content .feedback__item {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 32px;
  overflow: hidden;
}

#feedback .feedback__item .feedback__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}

#feedback .feedback__item .feedback__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}
blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}
blockquote q::before {
  font-size: 50px;
  color: #189a46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: 'Merriweather', serif;
}

.testi-des {
  display: flex;
  text-align: center;
}
.peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}
.peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 50px;
}
.owl-carousel button.owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  border: none;
}

#feedback .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

#feedback .owl-theme .owl-dots .owl-dot.active span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

#feedback .owl-theme .owl-dots .active.owl-dot span,
#feedback .owl-theme .owl-dots .owl-dot:hover span {
  text-align: center;
  background: #189a46;
  width: 30px;
  height: 10px;
}

.owl-two.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}
/* end testimonials  */

/* start updated  */
.update_content {
  max-width: 650px;
}
.update_header h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
.update_input {
  justify-content: space-between;
}
.update_input input {
  font-size: 16px;
  color: #696969;
  border-radius: 10px;
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}
.update button {
  flex-basis: 27%;
}
@media (max-width: 767px) {
  .update button {
    margin-top: 30px;
  }
}

.update_input button {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
}
.update_input button:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}

/* end updated  */

/* Tuấn Kiệt  */
